@import 'tailwindcss';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';
@import '@skeletonlabs/skeleton/themes/crimson';

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

#app {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

@layer components {
  .page {
    width: 100%;
    max-width: 80rem;
    margin-inline: auto;
    padding-inline: clamp(1rem, 5vw, 3rem);
    padding-block: clamp(1.5rem, 4vw, 3rem);
  }

  .page-wrapper {
    position: relative;
    isolation: isolate;
    display: flex;
    flex: 1;
    padding-top: 4rem;
  }

  .btn-primary {
    @apply btn btn-lg bg-blue-500 font-bold outline-2 outline-offset-2 outline-blue-500;
  }

}